.stackItem--product {
  width: 100%;
  min-height: 257px
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}
@media only screen and (max-width: 600px){
  .stackItem--product{
    width: 100%;
    min-height: 165px;
  }
}
